body {
  font-family: "Roboto", sans-serif;
  color: var(--main-dark-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
    --main-dark-color: #2e2f42;
    --main-line-height: 1.5;
    --main-white-color: #ffffff;
}
/* --------------------- index.html file ------------- */

/* --------------------- HEADER ------------- section */

/* цвет основного текста черный: color: #2E2F42; */
/* вторичный цвет текста светло черный: color: #434455; */
/* белый:  color: #E7E9FC;*/
/* контакт цвет: color: #434455; */
/* акцент */

.header {
  background-color: var(--main-white-color);
}

.header-logo {
  font-family: "Raleway";
  color: var(--main-dark-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
}
.header-logo-web-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}

.header-link {
  color: var(--main-dark-color);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.contacts-address {
  font-style: normal;
}
.contact-link {
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* -------------------------- MAIN -------------------- section */

.main {
  background-color: var(--main-dark-color);
}
.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
}
.main-btn {
  font-family: inherit;
  background: #4d5ae5;
  color: var(--main-white-color);
  cursor: pointer;
}
.main-btn:focus,
.main-btn:hover {
  background: #404bbf;
}

/* ------------------- ATTITUDES --------------------- section */

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.attitudes-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}

.attitudes-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------------- PRODUCTS ------------- section */

.products-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-dark-color);
}

/* ----------------------- TEAM ------------------- section */

.team {
  background: #f4f4fd;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-dark-color);
}

.team-item {
  background-color: var(--main-white-color);
}
.team-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------------------- FOOTER ------------------- section */

.footer {
  background: var(--main-dark-color);
}
.footer-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}
.footer-logo-web-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* --------------------- portfolio.html file ------------- */

/* ----------------------- PORTFOLIO ------------------- section */

.portfolio-buttons-item-btn {
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portfolio-buttons-item-btn:hover,
.portfolio-buttons-item-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
}
.portfolio-product-item {
  background-color: var(--main-white-color);
}
.portfolio-product-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}
.portfolio-product-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
